.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

table td {
    line-height: 37px;
}
#usersList tr:hover,
#clientsList tr:hover,
#portfolioList tr:hover {
    cursor: pointer;
}
#usersList th:before,
#usersList th:after,
#clientsList th:before,
#clientsList th:after,
#portfolioList th:before,
#portfolioList th:after{
    content: ''
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.admin {
    background-color: #1DE9B6!important;
}
.edit-user {
    background-color: #FFB74D;
}